$font-primary: 'Roboto', sans-serif;
$font-title: 'Raleway', sans-serif;
$font-another: 'Lato', sans-serif;

$font-size-content: 15px;
$line-height-content: 36px; 
$color-content: #b7c3c8;

$bg-block: #263238;
$color-icon: #8bc34a;
$bg-circle: #e74c3c;

